@font-face {
	font-family: Montserrat;
	src:url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family:RobotoSlab;
	src:url(../fonts/RobotoSlab-Regular.ttf);
}

.clearfix::after,
.header::after{
	content:'';
	clear: both;
	display: table;
	overflow: hidden;
}

.wrap {}
.container {
	max-width: 940px;
	margin: 0 auto;
	width: 100%;
}

	.header	{
		padding: 3% 0;
		display: table;
	}

		.logo {
			display: table-cell;
		}

			.logo-img {
				vertical-align: middle;
			}

		.menu {
			display: table-cell;
			vertical-align: middle;
			text-align: right;
	    }

	    	.menu-item {
				position: relative;
				margin: 0 10px;
				padding: 9px 6px;
				display: inline-block;
				
				color: #777;
				white-space: nowrap;
				text-decoration: none;
				
				font-family: 'Montserrat';
				font-size: 14px;
				text-transform: uppercase;
			}

				a:hover {
					color: #000;
					cursor: pointer;
				}

	.promo {
		padding: 8% 0;
		text-align: center;
		background-image: url(../pic/header_bg.png);
		background-position: center;
		-webkit-background-size: cover;
        	 -o-background-size: cover;
            	background-size: cover;
		box-sizing: border-box;
	}

		.promo-main {
		    font-family: 'Montserrat';
		    font-size: 60px;
		    color: #fff;
		    text-transform: uppercase;
		    margin-bottom: 46px;
		    line-height: 1.2;
		}

		.promo-text {
			font-family: 'RobotoSlab';
		    font-size: 18px;
		    color: #ccc;
		    margin-bottom: 58px;
		}

		.button {
			display: inline-block;
			background-color: #7cc576;
			height: 60px;
			width: 200px;
			font-family: 'Montserrat';
			font-size: 16px;
			color: #FFF;
			text-transform: uppercase;
			border-radius: 40px;
			line-height: 3.8;
			text-align: center;
			text-shadow: 2px 2px 1px rgba(71, 172, 67, 1);
		}

		.button:hover{
			background-color: #fff;
			color: #000;
			cursor: pointer;
			text-shadow: none;
		}

	.services {
		min-height: 536px;
	}

		.serv {}

			.serv-item {
				text-align: center;
		        font-family: 'Montserrat';
		        font-size: 40px;
		        color: #000;
		        text-transform: uppercase;
		        padding-top: 100px;
		        margin-bottom: 18px;
			}

			.serv-item2 {
				text-align: center;
		        font-family: 'RobotoSlab';
		        font-size: 20px;
		        color: #777;
		        margin-bottom: 90px;
			}

		.servs {
			text-align: center;
			padding-bottom: 4%;
			box-sizing: border-box;
		}

            .circle {
			    width: 64px;
			    height: 64px;
			    display: inline-block;
			    vertical-align: top;
			    background-repeat: no-repeat;
			    background-position: center;
			    margin-bottom: 38px;
			}    

			.serv li {
	            display: inline-block;
	            width: 31%;
	            font-family: 'RobotoSlab';
	            font-size: 14px;
	            color: #777;
	            margin-left: 2%;
	            line-height: 1.5;
	        }

	        .serv h2 {
	            font-family: 'Montserrat';
	            font-size: 18px;
	            text-transform: uppercase;
	            color: #000;
	            margin-bottom: 8px;
	            
	        }

	        .icon-1 {
	            background-image: url(../pic/heart_icon.png);
	        }

	        .icon-2 {
	            background-image: url(../pic/mobile_icon.png);
	        }

	        .icon-3 {
	            background-image: url(../pic/graph_icon.png);
	        }

	.relax {
		width: 100%;
		min-height: 618px;
		padding: 100px 0;
		background-position: center;
		background-image: url(../pic/set_bg.png);
		-webkit-background-size: cover;
        	 -o-background-size: cover;
            	background-size: cover;
		box-sizing: border-box;
	}
		
		.relax-right {
			display: inline-block;
			padding: 0 0 0 44%;
		}

			.relax-title {
				font-family: 'Montserrat';
			    font-size: 40px;
			    color: #fff;
			    text-transform: uppercase;
			    margin-bottom: 46px;
			    line-height: 1.2;
			}

			.amper {
				color: #7cc576;
			}

			.relax-text{
				font-family: 'RobotoSlab';
			    font-size: 16px;
			    color: #ccc;
			    margin-bottom: 24px;
			    line-height: 1.5;
			}

			.check {
				margin-bottom: 40px;
			}

				.check-img {
					float: left;
				}

				.check-text {
					font-family: 'RobotoSlab';
				    font-size: 16px;
				    color: #ccc;
					line-height: 24px;
					margin-bottom: 20px;
					margin-left: 55px;
					padding-top: 4px;
				}

	.project {
		width: 100%;
		min-height: 824px;
		background-position: center;
		background-image: url(../pic/project_bg.png);
		-webkit-background-size: cover;
        	 -o-background-size: cover;
            	background-size: cover;
		box-sizing: border-box;
	}

		.frame {
			display: inline-block;
			padding: 0 0 0 25%;
		}

			.frame-title {
				font-family: 'Montserrat';
	            font-size: 18px;
	            text-transform: uppercase;
	            color: #000;
	            margin-bottom: 27px;
			}

			.points {
				width: 100%;
			}

			.frame-text {
				font-family: 'RobotoSlab';
				font-size: 16px;
				color: #777;
				margin-bottom: 27px;
				line-height: 1.5;
			}

				.points-img {
					float: left;
				}

				.detali {
					font-family: 'RobotoSlab';
				    font-size: 16px;
				    color: #777;
					line-height: 33px;
					margin-bottom: 18px;
					margin-left: 86px;
					padding-top: 4px;
				}

					.points-title {
						font-family: 'Montserrat';
						font-size: 18px;
						color: #000;
					}

			.but-arrow {
				font-family: 'Montserrat';
				font-size: 16px;
				color: #7cc576;
				text-transform: uppercase;
			}

			.but-arrow:hover{
				color: #000;
				cursor: pointer;
			}

	.culture {
		background-color: #f9f9f9; 
		min-height: 560px;
	}

		.circle2 {
			width: 91px;
			height: 91px;
			display: inline-block;
			vertical-align: top;
			background-repeat: no-repeat;
			background-position: center;
			margin-bottom: 38px;
		}   

			.icon-11 {
	            background-image: url(../pic/music.png);
	        }

	        .icon-11:after {
	        	content: '';
	        	position: absolute;
	        	margin-top: 2.3%;
	        	left: 38%;
	            width: 170px;
			    height: 2px;
			    background: #777;
	        }

	        .icon-22 {
	            background-image: url(../pic/stat.png);
	        }

	        .icon-22:after {
	        	content: '';
	        	position: absolute;
	        	margin-top: 2.3%;
	        	left: 54%;
	            width: 170px;
			    height: 2px;
			    background: #777;
	        }

	        .icon-33 {
	            background-image: url(../pic/star.png);
	        }

	.clients {
		min-height: 810px;
	}

		.quote {
			margin-bottom:2%;
		}

			.circle3 {
				width: 20%;
				display: table-cell;
			}
				.circ {
					width: 221px;
					height: 221px;
					background-color: #f4f3f3;
					-moz-border-radius: 50%;
		            -webkit-border-radius: 50%;
		            border-radius: 50%;
				}

			.prjam {
				display: table-cell;
				padding: 0 0 0 6%;
				vertical-align: middle;
			}
				.prjam-inner {
					position: relative;
					background: #f4f3f3;
					text-align: center;
					font-family: 'RobotoSlab';
					font-size: 22px;
					color: #777;
					line-height: 1.5;
					padding: 6%;
					box-sizing: border-box;
				}

				.prjam-inner:after{
					content: ''; 
				    position: absolute;
				    left: -15px;
				    top: 50%;
				    border-top: 10px solid transparent;
				    border-right: 15px solid #f4f3f3;
				    border-bottom: 10px solid transparent;
				    margin-top: -10px;
				}

				.client-gree{
					color: #7cc576;
					font-size: 18px;
					margin-top: 2%;
				}

			.prjam-2 {
				display: table-cell;
				padding: 0 6% 0 0;
				vertical-align: middle;
			}

				.prjam-inner-2 {
					position: relative;
					background: #f4f3f3;
					text-align: center;
					font-family: 'RobotoSlab';
					font-size: 22px;
					color: #777;
					line-height: 1.5;
					padding: 6%;
					box-sizing: border-box;
				}

				.prjam-inner-2:after{
					content: ''; 
				    position: absolute;
				    right: -15px;
				    top: 50%;
				    border-top: 10px solid transparent;
				    border-left: 15px solid #f4f3f3;
				    border-bottom: 10px solid transparent;
				    margin-top: -10px;
				}



	.ready{
		background-color: #7cc576;
		min-height: 250px;
		text-align: center;
	}

		.ready-title {
			text-align: center;
			padding-top: 70px;
			margin-bottom: 20px;
		}

		.button2 {
			display: inline-block;
			background-color: #7cc576;
			height: 47px;
			width: 174px;
			font-family: 'Montserrat';
			font-size: 16px;
			color: #FFF;
			text-transform: uppercase;
			border-radius: 8px;
			border: 3px solid white;
			line-height: 49px;
			margin-bottom: 4%;
		}

		.button2:hover {
			background-color: #fff;
			color: #7cc576;
			cursor: pointer;
		}

	.patrners {
		min-height: 165px;
	}

	.logos {
		display: inline-block;
		padding: 6% 8%;
		box-sizing: border-box;
	}

		.logos-img {
			float: left;
		}

	.foot {
		min-height: 365px;
		background-color: #222;
	}

		.footer-conten {
			padding: 4% 0;
		}

			.sidebar-left {
				float: left;
				width: 30%;
				margin-right: 4%;
			}

			.sidebar-middle {
				float: left;
				width: 32%;
			}

				.post-img {
					float: left;
				}

				.foo-cont {
					font-family: 'Montserrat';
					font-size: 18px;
					color: #fff;
					text-transform: uppercase;
					margin-bottom: 6%;
				}

			.sidebar-right {
				float: left;
				width: 30%;
				margin-left: 4%;
			}

			.post-text {
				font-family: 'RobotoSlab';
				font-size: 16px;
				color: #ececec;
				margin-left: 14%;
				padding-top: 1%;
				margin-bottom: 6%;
			}

				.tweet {
					line-height: 1.2;
					padding-top: 0.5%;
				}

				.phone {
					padding-top: 2%;
				}

					.twee-time {
						font-size: 12px;
					}

	.footer-soc {
		min-height: 101px;
		background-color: #fff;
	}

		.footer-main {
			padding: 2% 0;
		}

		.copy {
			float: left;
			line-height: 3;
			font-family: 'Montserrat';
			font-size: 14px;
			color: #555;
			margin-right: 11%;
		}

		.social {
			float: left;
		}

			.soc-circle {
				width: 41px;
				height: 41px;
				background: #222;
				border-radius: 50px;
				display: inline-block;
				vertical-align: top;
				background-repeat: no-repeat;
				background-position: center;
			}

				.soc-tweet {
					background-image: url(../pic/soc-tweet.png);
				}

				.soc-tweet:hover {
					cursor: pointer;
					background: #00aced;
					background-image: url(../pic/soc-tweet.png);
				}

				.soc-fb {
					background-image: url(../pic/soc-fb.png);
				}

				.soc-fb:hover {
					cursor: pointer;
					background: #3b5998;
					background-image: url(../pic/soc-fb.png);
				}

				.soc-pinterest {
					background-image: url(../pic/soc-pinterest.png);
				}

				.soc-pinterest:hover {
					cursor: pointer;
					background: #CB2028;
					background-image: url(../pic/soc-pinterest.png);
				}

				.soc-gplus {
					background-image: url(../pic/soc-gplus.png);
				}

				.soc-gplus:hover {
					cursor: pointer;
					background: #DA2713;
					background-image: url(../pic/soc-gplus.png);
				}


@media screen and (max-width: 1280px) {
	.icon-11:after {
	    content: '';
	    position: absolute;
	    margin-top: 3.3%;
	    left: 31.5%;
	    width: 170px;
		height: 2px;
		background: #777;
	}
	.icon-22:after {
	    content: '';
	    position: absolute;
	    margin-top: 3.3%;
	    left: 56.5%;
	    width: 170px;
		height: 2px;
		background: #777;
	}
}

@media screen and (max-width: 1024px) {
	.icon-11:after {
	    content: '';
	    position: absolute;
	    margin-top: 4.5%;
	    left: 27%;
	    width: 170px;
		height: 2px;
		background: #777;
	}
	.icon-22:after {
	    content: '';
	    position: absolute;
	    margin-top: 3.3%;
	    left: 58%;
	    width: 170px;
		height: 2px;
		background: #777;
	}
}

@media screen and (max-width: 800px) {

	.logo-img {
		margin-left: 7%;
	}

	.icon-11:after {
	    display: none;
	}

	.icon-22:after {
	    display: none;
	}

	.serv li {
		margin-bottom: 3%;
	}

	.logos {
		padding: 6% 24% 4% 24%;
	}

	.logos-img {
		margin-bottom: 7%;
	}

	.project {
		background-image: none;
	}
}

@media screen and (max-width: 768px) {
	.serv li {
		width: 49%;
		font-size: 16px;
		margin-bottom: 5%;
	}
}

@media screen and (max-width: 600px) {
	.header {
		display: block;
	}

	.logos {
		padding: 6% 34%;
	}

	.logo {
		display: block;
		margin-bottom: 4%;
		margin-left: 35%;
	}
	.menu {
		text-align: left;
	}

	.but-arrow {
		padding-bottom: 7%;
	}
}

@media screen and (max-width: 480px) {
	.frame {
		padding: 0 0 0 2%;
	}

	.points {
		width: 100%;
	}

	.detali {
		line-height: 2;
		margin-bottom: 2%;
		margin-left: 23%;
	}

	.sidebar-left {
		width: 100%;
		margin-left: 4%;
	}

	.sidebar-middle {
		width: 100%;
		margin-left: 4%;
	}

	.sidebar-right {
		width: 100%;
	}

	.relax-right{
		padding: 0 0 0 27%;
	}

	.circ {
		display: none;
	}

	.prjam {
		display: table;
		padding: 0;
	}

  	.prjam-2 {
		display: table;
		padding: 0;
	}

	.ready-title {
		margin-bottom: -3%;
		padding: 6%;
	}

	.footer-main {
		padding: 2% 4%;
	}
}

@media screen and (max-width: 320px) {
	.serv li {
		width: 75%;
	}

	.relax-right {
		padding: 0 0 0 5%;
	}
}
